
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');



#root {
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}




.rancho-regular {
  font-family: "Rancho", serif;
  font-weight: 400;
  font-style: normal;
}